<template name="AuthenticationForms">
<section class="landing-page">

  {{# if showLoginForm }}
    <form id="login-form" class="login-card" action="/" >
      <header>
        <h2>Login</h2>
      </header>

      <div class="input-text">
        <input type="email" id="login-email" placeholder="Email" class="pure-input-1" />
      </div>
      <div class="input-text">
        <input type="password" id="login-password" placeholder="Password" class="pure-input-1" />
      </div>
      <button class="btn waves-effect waves-light grey darken-4" type="submit" name="action">Submit
        <!--<i class="material-icons">send</i>-->
      </button>
      <a href="#" id="show-register-form">or create account</a>
    </form>
  {{/if}}

  {{# if showRegisterForm }}

    <form id="register-form" action="/" class="login-card">
      <header>
        <h2>Create new account</h2>
      </header>
      <div class="input-text">
        <input type="email" placeholder="Email" />
      </div>
      <div class="input-text">
        <input type="text" placeholder="Name" name="name" />
      </div>
      <div class="input-text">
        <input type="password" placeholder="Password" />
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Create account
        <!--<i class="material-icons">send</i>-->
      </button>
      <a href="#" id="show-login-form">or sign in</a>
    </form>
  {{/if}}

  <div id="particles-js"></div>
</section>
</template>
